$spacer: 16px;

$font-size-base: 16px;
$font-size-xxxl: 56px;

$dark-blue: #23445a;
$light-green: #19c746;
$light-pink: #ffdcdc;

$primary: $dark-blue;
$secondary: $light-green;
$text-color: $dark-blue;
$white: white;

