$spacer: 16px;

$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xxxl: 56px;

$dark-blue: #23445a;
$light-green: #18C746;
$light-pink: #ffdcdc;
$light-blue: #0084F4;

$primary: $dark-blue;
$secondary: $light-green;
$text-color: $dark-blue;
$white: white;
$link: $light-blue;
